<%- include('./includes/header.ejs') %>
<%console.log('----------recuperer dans home', locals.post.success) %>
<% if( locals.me&&locals.post.success ) { %>
  <main class="container">
    <div class="total">
      <div class="partie1">
        <% for (var i=locals.post.success.length-1 ; i>=0; i-- ) { %>
          
          <div class="card-group">
            <div id="largeur" class="card" style="width: 18rem">
              <% if (locals.post.success[i].attachement !="" ){ %>
                <img id="image" style=" border-radius: 10px; height: 200px;"
                  src="/img/<%=locals.post.success[i].attachement %>" class="img-fluid H-50% W-50% Voir" alt="...">
                <% } else { %>
                  <img id="image" style=" border-radius: 10px; height: 200px;"
                    src="https://dummyimage.com/640x360/fff/aaa" class="img-fluid H-50% W-50% Voir " alt="...">
                  <% } %>
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= locals.post.success[i].texte %>
                      </h5>
                      <a href="/img/<%= locals.post.success[i].attachement %>" name="attachement" id="but"
                        class="btn btn-primary">Afficher l'image</a>
                        <!-- < % for (var j=locals.me.success.length-1 ; j=i; j++ ) { %> -->
                      <div class="mileu" role="alert">
                        <div class="ide">
                          userId:<%= locals.success.me[i].prenom %> 
                        </div>
                      
                      </div>
                   
                      <hr>
                      <div class="ICO">
                        <form action="/like/post/<%= locals.post.success[i].id%>" method="post" id="IDLIKE">
                          <button id="coeur"> <i class="fa fa-heart " style="font-size:30px"></i></button>
                        </form>
                        <p>
                          <%= locals.post.success[i].likesCount%>
                        </p>
                        <form action="/unlike/post/<%= locals.post.success[i].id%>" method="post" id="IDDISLIKE">
                          <button> <i class="fa fa-thumbs-down" style="font-size:15px"></i></button>
                        </form>
                      </div>
                    </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  <% } %>
  </main>

  </body>

  </html>