<%- include('./includes/header.ejs') %>
<main class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid" id="barre">
        <a class="navbar-brand" href="#"><Menu></Menu></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./register">Inscrivez-vous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Trouvez">Mot de passe oublié</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Article à ajouter</a>
            </li>
            <li id="test" class="nav-item">
              <a class="nav-link" href="./pagetext">Qualite Eau</a>
            </li>
          </ul>
          <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
          </form>
          <div class="dropdown">
            <div class="dropdown-content">
              <% if(locals.User){ %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= User.nom %></li> 
                </ul>
                <% } %>
                <!--<a href="/login"><i class="fa fa-fw fa-user"></i> <p id="con">Se Connecter</p></a>-->
                <a href="/logout">Déconnexion</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
      <div class="total" >
        <div class="partie1">
          <% for (var i=locals.success.length-1 ;i>=0;  i-- ) { %>
            <!--form action="/new" method="post" id="new" onctype="multipart/form-data">-->
                <div class="deux" >
                  <div class="mileu" role="alert">
                    <div class="ide">
                      <%= locals.success[i].id %>
                    </div>
                  <div class="nom">
                      <%= locals.success[i].userId %>
                  </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/<%= locals.success[i].attachement %>" name="attachement" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= locals.success[i].texte %></h5>
                    <p class="card-text" name="texte"></p>
                    <a href="/img/<%= locals.success[i].attachement %>" name="attachement" id="but" class="btn btn-primary">Afficher l'image</a>
                    </div>
                    <hr>
                    <div class="ICO">
                        <div><button onclick="clickCounter(1)" class="button" type="button"><i class="fa fa-thumbs-up" style="font-size:15px"><p>j'aime</p></i></button></div>
                        <div id="result"></div>
                        <div><button onclick="discounter(1)" class="button" type="button"><i class="fa fa-thumbs-down" style="font-size:15px"><p>je n'aime pas</p></i></button></div>
                        <div id="result1"></div>
                    </div>  
                </div>
                <% } %>
            </form>  
          </div>      
          </div>
        </div>
        </body>
    </html>